<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="SMP Website IIT Dharwad" />
    <meta name="keywords" content="IIT, IIT Dharwad, SMP, Student Mentorship, Dharwad, DAMP">

    <link rel="icon" href="img/favicon.ico" />
    <title>DAMP IIT Dharwad</title>

    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script>
      window.onLoadCallback = function () {
        gapi.auth2.init({
          client_id: '858578974233-qcglqvji2rc12vnjgrk2l7jlvjvhn3pm.apps.googleusercontent.com'
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script>
      window.onLoadCallback = function () {
        gapi.auth2.init({
          client_id: '858578974233-qcglqvji2rc12vnjgrk2l7jlvjvhn3pm.apps.googleusercontent.com'
        });
      }
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mystyles.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/mystyles.css" />

    <meta name="google-signin-client_id"
      content="858578974233-qcglqvji2rc12vnjgrk2l7jlvjvhn3pm.apps.googleusercontent.com">

  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
      <div class="main_menu">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"><img
                style="background-color:white;padding:5px;border-radius:5px;" src="img/logo.png" class="nav-logo" alt=""
                width="100px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">Home</a>
                </li>

                <li class="nav-item submenu dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> Courses </a>
                  <ul class="dropdown-menu">
                    <div class="dropdown-header ">Core</div>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreCSE"> Computer Science </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreEE"> Electrical </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreME"> Mechanical </a>
                    </li>

                    <div class="dropdown-header">Department Electives</div>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectCSE"> Computer
                        Science </a>
                    </li>

                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectEE"> Electrical </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectME"> Mechanical </a>
                    </li>

                    <div class="dropdown-header">Other Electives</div>
                    <li class="nav-item"><a class="nav-link dropdown-item" href="courses_Electives.html?type=HSS"> HSS
                        Electives
                      </a></li>
                    <li class="nav-item"><a class="nav-link dropdown-item" href="courses_Electives.html?type=Institute">
                        Institute
                        Electives </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Exam Preparations</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="gate.html">GATE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gre.html">GRE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cat.html">CAT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="tofel.html">TOFEL</a>
                    </li>
                  </ul>
                <li class="nav-item ">
                  <a class="nav-link" href="internships.html">Internships and Projects</a>
                </li>
                </li>

                <li class="nav-item ">

                  <div class="g-signin2 signIn-btn" id="signin-btn" data-onsuccess="onSignIn"></div>

                  <div class="signOut-Btn" id="signout-btn" onclick="onSignOut()" style="display: none;">Sign Out</div>
                </li>
                <li class="nav-item">
                  <a class="nav-link backtosmp" href="./../index.html">Go To SMP Website -> </a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">

                <h2 class="text-uppercase mt-4 mb-5 show-desk " style="color: white;">
                  Department Academic Mentorship Program

                </h2>
                <h2 class="text-uppercase mt-4 mb-5 show-mob" style="color: white;">
                  DAMP
                </h2>
                <p class="text-uppercase" style="color: white;">
                  IIT Dharwad
                </p>
                <div>
                  <a href="#intro" class="primary-btn2 mb-3 mb-sm-0">Learn More</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top" id="intro">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Welcome!</h2>
              <p>
                The Department Academic Mentorship Program (DAMP) team at IIT Dharwad consists of exuberant and highly
                motivated
                students working towards providing the necessary help and guidance to all sophomores.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">For Sophomore</h4>
                <p>
                  Damp will help you to cope up with your transition into your department.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Resolve Issues</h4>
                <p>
                  Damp will help you in academic as well as non academic issuses.

                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Acadamic Suggestions</h4>
                <p>
                  Damp will try its best to help students with backlogs.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Start Feature Area =================-->
    <section class="feature_area ">
      <div class="container">
      <hr>
        <div class="row justify-content-center">
          <div class="gen-block" style="max-width: 1024px;">
            <div class="main_title">
              <h2>Introduction</h2>
            </div>

            The Department Academic Mentorship Program (DAMP) aims to create a support system for students facing
            academic as well
            as personal difficulties. The DAMP also provides senior mentors to the sophomores entering the CSE, EE and
            ME depatment.
            The DAMP Team aims to provide easy access to information regarding courses offered by the departments,
            research projects
            being undertaken, internships and the like. We strive to maintain the curriculum’s relevance to the field in
            co-ordination with faculty as well as the Department Council. Feel free to contact our team for any kind of
            difficulties.

          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Container ================= -->

    <div id="main" class="section" style="padding-top: 40px;">
      <hr>
      <h2 style="text-align: center;" id="meetTeam">Meet The Team</h2>
      <div class="container">
          <div class="row">
              <div>

                  <!-- <h3 style="text-align: center;">Faculty In-Charge</h3>
                  <div id="teamDetailsFaculty" style="text-align:center;">
  
  
                      <div class="card img-fluid index-card"
                          style="background-image: url(&quot;https://drive.google.com/uc?export=view&amp;id=1VYTvZUu7mG7lk2X0ubqrBJEx0dZUGqcq&quot;);">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Gopal Sharan Parashari</h4>
                              <h4 class="card-title">Faculty-in-charge</h4>
                              <h4 class="card-title">Phone: Nil </h4>
                              <h4 class="card-title">Email: gp@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                  </div>
                  <h3 style="text-align: center;"> Student Mentor Co-ordinator</h3>
                  <div id="teamDetailsCordinator" style="text-align:center;">
  
  
                      <div class="card img-fluid index-card"
                          style="background-image: url(&quot;https://drive.google.com/uc?export=view&amp;id=17aUjr89BBv28Q5IDjKeeweSG-3mAd0kN&quot;);">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Gandra Joshitha</h4>
                              <h4 class="card-title">Student Mentor <div>Co-ordinator</div></h4>
                              <h4 class="card-title">Phone: 9966084003 </h4>
                              <h4 class="card-title">Email: 180020009@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                  </div>
                  <h3 style="text-align: center;"> Student Mentor Assistant Co-ordinators</h3>
                  <div id="teamDetailsAssCordinators" style="text-align:center;">
  
  
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Aryan Gautam Chollera.JPEG');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Aryan Chollera</h4>
                              <h4 class="card-title">Student Mentor Assistant Co-ordinator</h4>
                              <h4 class="card-title">Phone: 8291129587 </h4>
                              <h4 class="card-title">Email: 190020007@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url(&quot;https://drive.google.com/uc?export=view&amp;id=1MdFeGcwlM9T_qclyiZ_uERDJ7TQDpZgY&quot;);">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Saloni Singh</h4>
                              <h4 class="card-title">Student Mentor Assistant Co-ordinator</h4>
                              <h4 class="card-title">Phone: 9834824861 </h4>
                              <h4 class="card-title">Email: 190010041@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url(&quot;https://drive.google.com/uc?export=view&amp;id=1yN7qvITXWBPjcJJi9eGKHDIEA6tvwtO1&quot;);">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">T Satwik</h4>
                              <h4 class="card-title">Student Mentor Assistant Co-ordinator</h4>
                              <h4 class="card-title">Phone: 9121795006 </h4>
                              <h4 class="card-title">Email: 190030043@iitdh.ac.in</h4>
  
                          </div>
                      </div> -->

                  <h3 style="text-align: center;">Department Academic Mentors - CSE </h3>
                  <div id="teamDetailsMentors" style="text-align:center;">
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/RISHIT\ SAIYA.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Rishit Saiya</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9619708003 </h4>
                              <h4 class="card-title">Email: 180010027@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/UTKARSH\ PRAKASH.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Utkarsh Prakash</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 8130385613 </h4>
                              <h4 class="card-title">Email: 180030042@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Atharva\ Swami.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Atharva Swami</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 7219004561</h4>
                              <h4 class="card-title">Email: 190010008@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Nampally\ Pranav.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Nampally Pranav</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 6281343514</h4>
                              <h4 class="card-title">Email: 190010026@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Karthik\ Kancharla.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Karthik Kancharla</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9100168262</h4>
                              <h4 class="card-title">Email: 190020020@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Putti\ Gowtham\ Sai.jpeg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Putti Gowtham Sai</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9390291911</h4>
                              <h4 class="card-title">Email: 190010036@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                  </div>
                  <hr>
                  <h3 style="text-align: center;">Department Academic Mentors - EE </h3>
                    <div id="teamDetailsMentors" style="text-align:center;">
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/AMITABH\ SWAIN.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Amitabh Swain</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9025599065</h4>
                              <h4 class="card-title">Email: 180020002@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/DHRUV\ JAIN.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Dhruv Jain</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9819001101</h4>
                              <h4 class="card-title">Email: 180020006@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/SAMEER\ ANIS\ DOHADWALLA.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Sameer Anis Dohadwalla</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9930437554</h4>
                              <h4 class="card-title">Email: 180020033@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Chirag\ J\ Maragal.jpeg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Chirag Maragal </h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9636488473</h4>
                              <h4 class="card-title">Email: 190020014@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Jonnakuti\ Pramod\ Kumar\ Reddy.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Pramod Reddy</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 8074748822</h4>
                              <h4 class="card-title">Email: 190020018@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Kushagra\ Khatwani.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Kushagra Khatwani</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9118966124</h4>
                              <h4 class="card-title">Email: 190020021@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Rituja\ Uttam\ Metar.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Rituja Metar </h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9969450565</h4>
                              <h4 class="card-title">Email: 190020026@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                  </div>
                  <hr>
                  <h3 style="text-align: center;">Department Academic Mentors - ME </h3>
                    <div id="teamDetailsMentors" style="text-align:center;">
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Gourav\ Kumbhojkar.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Gourav Kumbhojkar </h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9130072278</h4>
                              <h4 class="card-title">Email: 180030018@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/GOWRI\ Y\ SUBEDAR.JPG');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Gowri Y Subedar</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 8277522336</h4>
                              <h4 class="card-title">Email: 180030019@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Harishkumar\ Laxmikant\ Gajakosh.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Harishkumar Laxmikant Gajakosh </h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 8291751391</h4>
                              <h4 class="card-title">Email: 190030017@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Khushi\ Yagnik.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Khushi Yagnik</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 8356935212</h4>
                              <h4 class="card-title">Email: 190030022@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Rishika\ Viral\ Patel.jpeg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Rishika Viral Patel</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9372077414</h4>
                              <h4 class="card-title">Email: 190030037@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Sumedhsing\ Bhagwansing\ Rajput.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Sumedhsing Rajput</h4>
                              <h4 class="card-title">Department Academic Mentor</h4>
                              <h4 class="card-title">Phone: 9834142362</h4>
                              <h4 class="card-title">Email: 190030042@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                </div>
                <hr>
                <h3 style="text-align: center;">Department Academic Mentors - Finance </h3>
                  <div id="teamDetailsMentors" style="text-align:center;">
                    <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Sattwik\ Mishra.jpg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Sattwik Mishra</h4>
                              <h4 class="card-title">Department Academic Mentor - CSE</h4>
                              <h4 class="card-title">Phone: 9692138506</h4>
                              <h4 class="card-title">Email: 190010040@iitdh.ac.in</h4>
                          </div>
                      </div>
                      <div class="card img-fluid index-card"
                          style="background-image: url('./img/Members/Prajwal\ Paloju.jpeg');">
  
                          <div class="card-img-overlay info">
  
                              <h4 class="card-title">Prajwal Paloju</h4>
                              <h4 class="card-title">Department Academic Mentor - ME</h4>
                              <h4 class="card-title">Phone: 9010516635</h4>
                              <h4 class="card-title">Email: 190030030@iitdh.ac.in</h4>
  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
  </div>
  <br>
  
  </div>
  </div>
  <!--================ Container ================= -->

  <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">

        <div class="row footer-bottom d-flex">
          <p class=" footer-text" style="margin:auto;">

            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | <a
              href="./../index.html">SMP IIT Dharwad</a>
          </p>

        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<!-- jQuery Plugins -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

		<!-- Firebase Analytics-->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>

		<script>
			// Your web app's Firebase configuration
			// For Firebase JS SDK v7.20.0 and later, measurementId is optional
			var firebaseConfig = {
				apiKey: "AIzaSyBAXM9zbmu_WjpMuJGFaoo6p3mBbtACxtE",
				authDomain: "smp-website-99f48.firebaseapp.com",
				databaseURL: "https://smp-website-99f48.firebaseio.com",
				projectId: "smp-website-99f48",
				storageBucket: "smp-website-99f48.appspot.com",
				messagingSenderId: "86557759685",
				appId: "1:86557759685:web:1ac91c366f2be3aeb1f8ac",
				measurementId: "G-5GJ3HP50H4"
			};
			// Initialize Firebase
			firebase.initializeApp(firebaseConfig);
			firebase.analytics();
		</script>

    <script src="js/general.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/theme.js"></script>

  </body>

</html>