<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="SMP Website IIT Dharwad" />
    <meta name="keywords" content="IIT, IIT Dharwad, SMP, Student Mentorship, Dharwad">

    <link rel="icon" href="img/favicon.ico" />
    <title>DAMP IIT Dharwad</title>

    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script>
      window.onLoadCallback = function () {
        gapi.auth2.init({
          client_id: '858578974233-qcglqvji2rc12vnjgrk2l7jlvjvhn3pm.apps.googleusercontent.com'
        });
      }
    </script> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />

    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mystyles.css" />
    <meta name="google-signin-client_id" content="858578974233-qcglqvji2rc12vnjgrk2l7jlvjvhn3pm.apps.googleusercontent.com">
  </head>

  <body style="background-color:  #f7f7f7;">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
      <div class="main_menu">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"><img
                style="background-color:white;padding:5px;border-radius:5px;" src="img/logo.png" class="nav-logo" alt=""
                width="100px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">Home</a>
                </li>

                <li class="nav-item submenu dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> Courses </a>
                  <ul class="dropdown-menu">
                    <div class="dropdown-header ">Core</div>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreCSE"> Computer Science </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreEE"> Electrical </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses.html?type=coreME"> Mechanical </a>
                    </li>

                    <div class="dropdown-header">Department Electives</div>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectCSE"> Computer
                        Science </a>
                    </li>

                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectEE"> Electrical </a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link dropdown-item" href="courses_Electives.html?type=DeptElectME"> Mechanical </a>
                    </li>

                    <div class="dropdown-header">Other Electives</div>
                    <li class="nav-item"><a class="nav-link dropdown-item" href="courses_Electives.html?type=HSS"> HSS
                        Electives
                      </a></li>
                    <li class="nav-item"><a class="nav-link dropdown-item" href="courses_Electives.html?type=Institute">
                        Institute
                        Electives </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Exam Preparations</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="gate.html">GATE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gre.html">GRE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cat.html">CAT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="tofel.html">TOFEL</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="internships.html">Internships and Projects</a>
                </li>

                <li class="nav-item ">

                  <div class="g-signin2 signIn-btn" id="signin-btn" data-onsuccess="onSignIn"></div>

                  <div class="signOut-Btn" id="signout-btn" onclick="onSignOut()" style="display: none;">Sign Out</div>
                </li>
                <li class="nav-item    ">
                  <a class="nav-link backtosmp" href="./../index.html">Go To SMP Website -> </a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Internships and Projects</h2>
                <div class="page_link">
                  <a href="index.html">Home</a> /
                  Internships and Projects
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area ">
      <div class="container gen-block-container">
        <div class="row">
          <div class=" course_details_left">
            <h1 style="text-align: center;" id="courseName">
            </h1>
            <div class="content_wrapper">
              <div class="internship-details">
                <h2>Computer Science</h2>
                <br>
                <h4>Internships</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/11KU4p2SpkTySFJFk1z9gKmRwHS1uZ5trzE_pX_fspss/edit?usp=sharing">Internship
                    Details</a></p>
                <p><a href="https://forms.gle/4yTywitDFb6G7AQo6">Add Internship</a></p>
                <h4>Projects</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/1idWolsrFyq-NktWRgXjCRD55qhTwGfT59wyXC1_wujc/edit?usp=sharing">Projects</a>
                </p>
                <p><a href="https://forms.gle/cK1KPkCntuTCTfQZA">Add Project details</a></p>

              </div>

              <hr class="style6">


              <div class="internship-details">
                <h2>Electrical Engineering</h2>
                <br>
                <h4>Internships</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/11vK3HgA4fdGE_QYgYevjLWmxu-5RiWqv-ecBdmsdsz8/edit?usp=sharing">Internship
                    Details</a></p>
                <p><a href="https://forms.gle/pFGpcnEGQZ4ZsjCm7">Add Internship</a></p>
                <h4>Projects</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/1FbcyBzA6JKUYGE1lWkgDI3BZjKk_b1xsQlFPW_iZcZw/edit?usp=sharing">Projects</a>
                </p>
                <p><a href="https://forms.gle/wpc4eKtVdhpicceZ6">Add Project details</a></p>

              </div>
              <hr class="style6">


              <div class="internship-details">
                <h2>Mechanical Engineering</h2>
                <br>
                <h4>Internships</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/1uC9DSjNeCvcF0JFTmx0es8rhgkX1QuCZ2_sWH_lSA5A/edit?usp=sharing">Internship
                    Details</a></p>
                <p><a href="https://forms.gle/rEpK3Yo2aaWy6LSx6">Add Internship</a></p>
                <h4>Projects</h4>
                <p><a
                    href="https://docs.google.com/spreadsheets/d/1qq1hM_261x_ioAjIcMaMzQ8R502hUTZtkNradXt57Vw/edit?usp=sharing">Projects</a>
                </p>
                <p><a href="https://forms.gle/4cvWPRPoazBBJFhu9">Add Project details</a></p>



              </div>


            </div>
          </div>
    </section>
    <!--================ End Course Details Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">

        <div class="row footer-bottom d-flex">
          <p class=" footer-text" style="margin:auto;">

            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | <a href="./../index.html">SMP IIT Dharwad</a>
          </p>

        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->


    <script src="js/general.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/theme.js"></script>

    <script src="js/courses/course-details.js"></script>
  </body>

</html>