::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gen-block-container {
  padding-top: 3%;
  background-color: white;
  max-width: 968px;
  padding-bottom: 5%;
  border-radius: 0 0 30px 30px !important;
}
.gen-block {
  width: 100%;
  max-width: 868px;
  margin: auto;
  padding: 1% 5%;
  font-size: 20px;
  background-color: white;
  text-align: justify;
}
.gen-block ul {
  list-style: disc !important;
  padding: 0px 20px;
}
.gen-block a {
  padding: 2%;
  color: #0026ff;
}
.gen-block h2 {
  color: #ff6700;
}
.gen-block h1 {
  color: #6500d8;
}
.gen-block .round {
  border: 2px;
  border-style: solid;
  border-radius: 50%;
  padding: 4px;
}
.gen-block a:hover {
  text-decoration: underline#0026ff;
  text-decoration-style: solid;
}
.parent {
  background-color: #f7f7f7;
  padding-top: 0 !important;
  padding-bottom: 3% !important;
}
.arrow {
  position: fixed;
  bottom: -30vh;
  left: 0;
  right: 0;
}
.contact-block {
  max-width: 768px !important;
  margin: auto;
  padding: 2%;
  text-align: justify;
}
.contactBanner {
  background-image: url(.././img/contact-background.jpg);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}
.faqBanner {
  background-image: url(.././img/faq-background.png);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}
.contactMap {
  width: 100%;
  max-width: 100%;
}
.implink {
  margin-top: 50px;
}
.implink table {
  max-width: 600px;
  margin: auto;
}
.implink td {
  text-align: center;
  border-top: None !important;
}
.faqcard {
  border: 2px solid #ff6700 !important;
  padding: 3px !important;
  margin: 10px !important;
  border-radius: 15px !important;
}
.faqcardheader {
  background-color: white !important;
  border-color: white !important;
}
.faqQuesbtn {
  background-color: white;
  white-space: normal !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0) !important;
}
.faqQuesbtn:hover {
  background-color: white;
  color: #ff6700;
}
.faqanswer {
  font-size: 18px;
  padding: 1%;
}
.faqdownarrow {
  position: sticky;
  left: 100%;
  font-size: 30px !important;
}
.faqques {
  text-align: justify;
}
.faq-block-container {
  padding-top: 3%;
  background-color: white;
  max-width: 968px;
  padding-bottom: 5%;
  border-radius: 0 0 30px 30px !important;
}
.faq-block-container h1 {
  padding-left: 5%;
  padding-bottom: 2%;
}

.mydropdown > li > a {
  color: black !important;
  padding: 5% 10% !important;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.mydropdown-toggle {
  background-color: transparent !important;
}
.mydropdown-toggle:hover {
  background-color: transparent !important;
}
.info {
  background-color: #333333c2;
  opacity: 0;
  top: 20%;
}
.info h4 {
  padding: 1%;
  color: white;
  font-size: 16px;
}
.card-title {
  font-size: 15px !important;
}
.card-img-overlay {
  padding: 1rem;
}
.index-card {
  height: 30%;
  min-height: 250px;
  min-width: 200px;
  max-width: 20%;
  width: 30%;
  border-radius: 25px;
  overflow: hidden;
  margin: 3%;
  margin-left: 2% !important;
  margin-right: 2% !important;
  display: inline-flex;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.index-card:hover .info {
  opacity: 0.9;
  transition: 0.6s;
}

@media only screen and (max-width: 767px) {
  .gen-block {
    font-size: 18px;
  }
  .faqBanner {
    background-image: url(.././img/faq-background.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: 20%;
  }
}
